<nav class="navbar {{navbarClassName}} is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                {% include "components/logo.html" %}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <a href="/" class="navbar-item">
                    Home
                </a>

                <a href="/content-page" class="navbar-item">
                    Content Page (HTML)
                </a>

                <a href="/impressum" class="navbar-item">
                    Impressum (Markdown)
                </a>
            </div>
        </div>
    </div>
</nav>
