<html lang="de">
  <head>
    {% include 'components/gtm-header.html' %}
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body class="layout">
    {% include 'components/gtm-body.html' %}
    {% set navbarClassName = 'navbar--has-border' %}
    {% include "components/header.html" %}
    <main class="layout__main">
      {{ content | safe }}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>
